# pycharm and ipython
.idea/
.ipynb_checkpoints/
./visualization/.ipynb_checkpoints

# latex stuff
latex-templates/**/*.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.fls
*.fdb_latexmk
*.toc
*.gz
*.bbl
*.bcf
*.blg
*.dvi
*.bak
*.run.xml

# R
*.Rproj
*.Rproj.user
*.RData
*.Rhistory
*.dcf
.Rproj.user

# sublime
*.sublime-*

# course-related
groups.txt
submissions-2020
grading-checklist.txt
todo.txt

# file formats examples dfs
*.pkl
*.csv
*.arrow

# temp files, others
*playground*
src/latex/*.pdf