# pycharm and ipython
.idea/
.ipynb_checkpoints/

# latex stuff
**/templates/**/*template.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.fls
*.fdb_latexmk
*.toc
*.gz
*.bbl
*.bcf
*.blg
*.dvi
*.bak
*.run.xml
*.bib.sav

# R
*.Rproj
*.Rproj.user
*.RData
*.Rhistory
*.dcf
.Rproj.user
packrat/lib*/
renv/
.Rprofile

# workspace
*.sublime-*
workspace.code-workspace

# course-related
groups.txt
grading/
admin/
grading-checklist.txt
todo.txt

# file formats examples dfs
*.pkl
*.arrow

# temp files, others
*playground*
**/joblib

# key pairs
*.pem
