# pycharm and ipython
.idea/
.ipynb_checkpoints/
./visualization/.ipynb_checkpoints

# latex stuff
**/templates/**/*template.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.fls
*.fdb_latexmk
*.toc
*.gz
*.bbl
*.bcf
*.blg
*.dvi
*.bak
*.run.xml
*.bib.sav

# R
*.Rproj
*.Rproj.user
*.RData
*.Rhistory
*.dcf
.Rproj.user
packrat/lib*/

# sublime
*.sublime-*

# course-related
groups.txt
grading/
grading-checklist.txt
todo.txt

# file formats examples dfs
*.pkl
*.csv
*.arrow

# temp files, others
*playground*
**/joblib
